{% extends 'base.html.twig' %}

{% block title %}New Caroussel{% endblock %}

{% block body %}
    <h1>Create new Caroussel</h1>

    {{ include('caroussel/_form.html.twig') }}

    <a href="{{ path('app_caroussel_index') }}">back to list</a>
{% endblock %}
